.header {
    margin: 0 auto;
}

.header__imageFace {
    object-fit: cover;
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin: 0px;

}

.header__name {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
    width: 100%;
    text-align: left;
}

.header__nameSize {
    font-weight: bold;
    font-size: 40px;
}
