.navigation {
    text-align: center;
    margin: 15px 25px;
}

.navigation__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navigation__listButton {
    text-decoration: none;
    background-color: teal;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
}

.navigation__listButton:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1 solid;
    box-shadow: 1px 1px 3px black;
}

.navigation__listButton:active {
    color: black;
    box-shadow: 0 0 5px rgb(0, 0, 0);;
}