.navigation {
    text-align: center;
    margin: 15px 25px;
    display: flex;
    flex-direction: row;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 300px;
    margin-top: 20px;
}

.navigation__listButton {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: teal;
    color: white;
    margin: 10px;
    padding: 10px 10px;
    min-width: 110px;
    text-align: center;
    border-radius: 5%;
}

.navigation__listButton:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1 solid;
    box-shadow: 1px 1px 3px black;
}

.navigation__listButton:active {
    color: black;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    ;
}