.section {
    background-color: rgb(223, 223, 223);
    margin: 40px 30px;
    padding-top: 1px;
    box-shadow: 0 0 6px black;
}

.section__article {
    margin: 30px;
}

.section__articleTitle {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 30px;
}

.section__list {
    display: grid;
    padding: 0px 0px 30px 40px;
    grid-template-columns: 1fr;
    line-height: 20px;
    font-weight: 400px;
}

.section__listElement {
    font-size: 19px;
    padding: 5px;
}

.section__listElement::marker {
    font-size: 30px;
    padding: 5px;
    color: teal;
}

.section__listLink {
    color: teal;
    text-decoration: none;
}

.section__listLink:hover {
    color: rgb(0, 60, 60);
    border-bottom: 1 solid;
}

.textColor__darkMode {
    color: White;
}

.section__background {
    background-color: rgb(66, 66, 66);
}