html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    padding: 0px;
    background-color: #d1eaff;
    scroll-behavior: smooth;
}

.body__backgroundDark {
    background-color: #252525;
    color: white;
}